<div class="row justify-content-center">
  <div class="col-4">
    <div class="card shadow-sm">
      <div class="card-header bg-danger text-light">
        <h4>Are you sure you want to delete the book {{book.title}}?</h4>
      </div>
      <div class="card-body">
        <form method="post" action="/books/delete">

          <input type="hidden" name="bookId" value="{{book.id}}" />

          <div class="container-fluid text-center">
            <button
              type="submit"
              class="btn btn-primary shadow-sm"
            >Delete</button>
            <a href="/books" class="btn btn-secondary shadow-sm">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>